.contact{
    background-color: rgba(0, 0, 255, 0.749);
    color: white;
    display: flex;
    justify-content: center;


    .wrapper{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;


        input{
            padding: 10px;
            color: black;
            border-radius:  5px 0 0 5px;
            outline: none;

        }

        button{
            padding: 10px;
            color: white;
            background-color: #333;
            border-radius: 0 5px 5px 0;
            border: none;
            cursor: pointer;
        }
        .icons{
            display: flex;
            gap: 5px;
            cursor: pointer;
        }
    }
}